


body {
  background: black;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  font-weight: 100;
align-items: center;


  
}

body::before {
background-size: cover;

  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f00, rgba(255, 0, 255, 0.075));
  clip-path: circle(30% at right 70%);
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e6227);
  clip-path: circle(20% at 10% 100%);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #cf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.card-mix {
  margin-left: 40px;
  margin-right: 40px;
  background: rgba(255, 255, 255, 0.178);

  box-shadow: 0px 0px 15px -5px;
  transition: 0.3%;

  transition: 0.5s;
  animation: ease-in-out;
  border-top: 3px solid rgba(255, 255, 255, 0.178);
  border-left: 3px solid rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(2px);
  border-radius: 20px;

  display: flex;
  justify-content: space-evenly;
  height: 500px;
  width: 398px;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  backdrop-filter: blur(2px);
  background: rgba(248, 11, 149, 0.753);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255,255,255, 0.1 );
  border-top: 1px solid rgba(255,255,255, 0.1 );
  color: #fff;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 0.9rem;
  text-align: center;
}

/* Card Description*/

.plant-list {
  padding-top: 32px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.plant-card {
  display: flex;

  margin-top: 20px;
  justify-content: row;
  align-items: center;
  position: relative;
}

.plant-list .plant-card .card-mix{

  transform:translateY(10px);
transition:0.15s
}

.plant-list .plant-card {
  position: relative;
}




.plant-list .plant-card .card-mix p{
  transform:translateY(10px);
transition:0.5s;
opacity: 0;

} 

.plant-list .plant-card .card-mix:hover p{
  transform:translateY(0px);
  opacity: 1;
} 


.plant-list .plant-card .card-mix img{
  transform:translateY(10px);
transition:0.5s;
opacity: 0;

} 

.plant-list .plant-card .card-mix:hover img{
  transform:translateY(0px);
  opacity: 1;
} 


.plant-list .plant-card .card-mix div{
  transform:translateY(10px);
transition:0.5s;
opacity: 0;

} 

.plant-list .plant-card .card-mix:hover div{
  transform:translateY(0px);
  opacity: 1;
} 


.plant-image {
  height: 260px;
  width: 399px;
  margin-right: 0.5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.plant-details {
  padding: 0 70px 0 70px;
  color: #fff;
  font-weight: 200;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.plant-name {
  margin-top: 0;
  margin-bottom: 5px;
  font-style: oblique;
}

.plant-scientific-name {
  font-style: italic;
}

.price-card {
  font-size: 1.5rem;
}

.plant-bottom-row {
  display: flex;
  margin-top: -40px;
  margin-top: -40px;
  margin-bottom: 540px;
  margin-left: 270px;
  align-items: center;
  justify-content: space-around;
}

.plant-bottom-row > p {
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 18px;
  justify-content: space-around;
}

.plant-button {
  justify-self: flex-end;
  justify-content: space-around;
}

p {
  margin: 0;
}

.cart {
  width: 800px;
  margin: 0 auto;
}

.cart > .plant-card {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #cf0;
}

.cart .plant-image {
  height: 160px;
}

.cart .plant-details {
  justify-content: center;
}

.checkout-section {
  color: #fff;
  padding: 32px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.success-message {
  width: 400px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 24px;
  border-radius: 24px;
    background: rgba(255, 255, 255, 0.178);
    border-top: 1px solid rgba(255,255,255, 0.1 );
    border-top: 1px solid rgba(255,255,255, 0.1 );


  border-color: beige;
  box-shadow: 0px 0px 15px -5px;
  backdrop-filter: blur(2px);
}

form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

.Free-Shipping {
  margin-top: 20px;
  color: rgba(208, 255, 0, 0.363);
}

button {
  background: rgba(255, 255, 255, 0.178);
  border-color: beige;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3%;
  animation: ease-in-out;
  transition: 0.5s;
  animation: ease-in-out;
  backdrop-filter: blur(2px);

  border: 30px;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  text-transform: uppercase;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
  padding: 11px;
  font-size: 16px;
  font-weight: 10;
  cursor: pointer;
}

button:hover {
  background: #df2e6c;
letter-spacing: 3px;
    


}





button:active,
input[type="button"]:active,
input:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button,
input[type="button"],
input {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

hr {
  margin-top: 20px;
}

h2 {
  color: white;
  font-weight: 200;
}

pre {
  color: white;
  white-space: pre;
}

.steps {
  color: white;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps a {
  color: #7e8de2;
  text-decoration: none;
  font-size: 3px;
  line-height: 2;
}

.steps li {
  background: #cf0;
  padding: 3px 15px;
  margin-right: 15px;
  position: relative;
}

.steps li:last-child {
  border: none;
}

.active {
  color: #0e101c;
  border-bottom: 2px solid !important;
}


.App {
  max-width: 600px;
  margin: 0 auto;
}

hr {
  margin-top: 30px;
}

h2 {
  color: white;
  font-weight: 200;
}

pre {
  color: white;
  white-space: pre;
}

.steps {
  color: white;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps li {
  background: #0044ff;
  padding: 3px 15px;
  margin-right: 15px;
  position: relative;
}



/* Top Buttons */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



.btn-white {
  background-color: rgb(255, 255, 255);



  color: #777;
  
}


.Shopy{
display: flex;
justify-content: flex-start;

}


/* Top Buttons*/

nav .btn{
margin-left: 40px;
margin-top: 40px;

  position: relative;
}

a{
  position: absolute;
  background: rgba(255, 255, 255, 0.055);
box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
border-top: 1px solid rgba(255,255,255, 0.1 );
border-top: 1px solid rgba(255,255,255, 0.1 );

border-radius: 30px;
color: #fff;
z-index:1;
font-weight:400;
letter-spacing: 1px;
text-decoration: none;
transition: 00.5s;

}

a:hover {
letter-spacing: 3px;

box-shadow: 0 0 5px #ff1f71,



}

@keyframes glowing {
  0% {
    background-color: #c7087e;
    box-shadow: 0 0 5px #c7087e;
  }
  50% {
    background-color: #ff0080;
    box-shadow: 0 0 20px #ff0080;
  }
  100% {
    background-color:  #c7087e;
    box-shadow: 0 0 5px #c7087e;
  }
}
.plant-button{
  animation: glowing 1300ms infinite;
}


nav{
display: flex;
justify-content: row;
}


.homeButton{
color: #fff;
width: 40px;
margin-right:40px ;
margin-left: 40px ;
height: 40px;
}



.cart-image{
  margin-top: 70px;
  height: 200px;
}


.checkout{
  background-color: green;

  width: 200px;
}

form{
  background: rgba(0, 0, 0, 0);
width: 440px;
height: 420px;
margin-left: 40px;
margin-bottom: 40px;

}


label{
margin-top: -12px;
}


.Thanks {
font-weight: 700;
font-size: 60px;
color:rgba(0, 0, 0, 0.2)  ;
box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
border-top: 1px solid rgba(255,255,255, 0.1 );
border-top: 1px solid rgba(255,255,255, 0.1 );
transform: rotate(25deg)
}