body {
  background: black;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  font-weight: 100;
}


body::before{
  content:"";
  position: absolute;
  top:0;
  width:100%;
  height: 100%;
  background: linear-gradient(#f00, rgba(255, 0, 255, 0.075));
  clip-path: circle(30% at right 70%)
}

body::after
{
  content:"";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background: linear-gradient(#2196f3, #e91e6227);
  clip-path: circle(20% at 10% 100%)
}



.container {
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #cf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.card-mix {
  margin-left: 40px;
  margin-right: 40px;
  background: rgba(255, 255, 255, 0.178);

  box-shadow: 0px 0px 15px -5px;
  transition: 0.3%;
  animation: ease-in-out;
  transition: 0.5s;
  animation: ease-in-out;

  backdrop-filter: blur(2px);
  border-radius: 20px;


  display: flex;
  justify-content: space-evenly;
  height: 500px;
  width: 398px;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background-color: #ec5990;
  color: #fff;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 0.9rem;
  text-align: center;
}

.plant-list {
  padding-top: 32px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.plant-card {
  display: flex;
  width: 50%;
margin-top: 20px;
  justify-content: row;
  align-items: center;
  position:relative;
}

.plant-image {
  height: 260px;
  width: 399px;
  margin-right: 0.5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.plant-details {
  padding: 0 70px 0 70px;
  color: #fff;
  font-weight: 200;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.plant-name {
  margin-top: 0;
  margin-bottom: 16px;
}

.plant-scientific-name {
  font-style: italic;
}

.plant-bottom-row {
  display: flex;
  margin-top: 6px;
  margin-right: 20px;
  align-items: center;
}

.plant-bottom-row > p {
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 18px;
}

.plant-button {
  justify-self: flex-end;
  justify-content: space-around;
}

p {
  margin: 0;
}

.cart {
  width: 800px;
  margin: 0 auto;
}

.cart > .plant-card {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #cf0;
}

.cart .plant-image {
  height: 160px;
}

.cart .plant-details {
  justify-content: center;
}

.checkout-section {
  color: #fff;
  padding: 32px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.success-message {
  width: 400px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 24px;
  background-color: #cf0;
}

form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button {
  background: rgba(255, 255, 255, 0.178);
  border-color: beige;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3%;
  animation: ease-in-out;
  transition: 0.5s;
  animation: ease-in-out;
 backdrop-filter: blur(2px);

  border: 30px;
border-radius: 10px;
width:80px;
height: 40px;
  text-transform: uppercase;
  border: none;
  margin-top: 10px;
  padding: 11px;
  font-size: 16px;
  font-weight: 10;
  cursor: pointer;
}

button:hover {
  background: #df2e6c;
}

button:active,
input[type="button"]:active,
input:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button,
input[type="button"],
input {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

hr {
  margin-top: 20px;
}

h2 {
  color: white;
  font-weight: 200;
}

pre {
  color: white;
  white-space: pre;
}

.steps {
  color: white;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps a {
  color: #7e8de2;
  text-decoration: none;
  font-size: 3px;
  line-height: 2;
}

.steps li {
  background: #cf0;
  padding: 3px 15px;
  margin-right: 15px;
  position: relative;
}

.steps li:last-child {
  border: none;
}

.active {
  color: #0e101c;
  border-bottom: 2px solid !important;
}

/*


:root {
  --foreground-color: rgb(41, 5, 5);
}

body {


  font-family: sans-serif;
   background-color: #81d4fa; 
  font-weight: bold;
  overflow: hidden;
  
  background: linear-gradient(322deg, #170422, rgba(186, 74, 255, 0) 70%), linear-gradient(178deg, #100049, rgba(0, 138, 255, 0) 70%), linear-gradient(24deg, #25119921, rgba(33, 136, 114, 0) 35%);
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  font-weight: 100;
}




.container {
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #cf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background-color: #ec5990;
  color: #fff;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 0.6rem;
  text-align: center;
}

.plant-list {

  padding-top: 32px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
    
          
}




::-webkit-plant-list{
  width: 25px;
}


::-webkit-plant-list-track{
  background:#170422;
}



.plant-card {
  
  display: flex;
  width: 50%;
  padding: 32px 0;
}

.plant-image {
  height: 106px;
}

.plant-details {
  
  padding: 0 32px 0 16px;
  color: #fff;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.plant-name {
  margin-top: 0;
  margin-bottom: 6px;
}

.plant-scientific-name {
  font-style: italic;
}

.plant-bottom-row {
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.plant-bottom-row > p {
  margin-right: 32px;
}

.plant-button {
  justify-self: flex-end;
}

p {
  margin: 0;
}

.cart {
  width: 800px;
  margin: 0 auto;
}

.cart > .plant-card {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #cf0;
}

.cart .plant-image {
  height: 160px;
}

.cart .plant-details {
  justify-content: center;
}

.checkout-section {
  color: #fff;
  padding: 32px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.success-message {
  width: 400px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 24px;
  background-color: #199100;
}

form {
  background: #81d4fa;
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button {
  background: linear-gradient(322deg, #ba4aff, rgba(186, 74, 255, 0) 70%), linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%), linear-gradient(24deg, #00ffc6, rgba(0, 255, 198, 0) 35%);
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
}

/* button:hover {
    background: #df2e6c;
  } */

button:active,
input[type="button"]:active,
input:active {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

button,
input[type="button"],
input {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

hr {
  margin-top: 30px;
}

h2 {
  color: white;
  font-weight: 200;
}

pre {
  color: white;
  white-space: pre;
}

.steps {
  color: white;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps li {
  background: #0044ff;
  padding: 3px 15px;
  margin-right: 15px;
  position: relative;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
  animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}




.rate{
background-color: blue;
}