


body {
  background: #0e101c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #cf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 2rem;
}


.card-mix{
margin-left: 40px;
  background: aqua;
  display: flex;
  justify-content: space-evenly;
}





.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background-color: #ec5990;
  color: #fff;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 0.6rem;
  text-align: center;
}

.plant-list {
  padding-top: 32px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;


}

.plant-card {
  display: flex;
  width: 50%;
  padding: 32px 0;

}

.plant-image {
  height: 296px;
}

.plant-details {
  padding: 0 32px 0 16px;
  color: #fff;
  font-weight: 200;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.plant-name {
  margin-top: 0;
  margin-bottom: 6px;
}

.plant-scientific-name {
  font-style: italic;
}

.plant-bottom-row {
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.plant-bottom-row > p {
  margin-right: 32px;
}

.plant-button {
  justify-self: flex-end;
}

p {
  margin: 0;
}

.cart {
  width: 800px;
  margin: 0 auto;
}

.cart > .plant-card {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #cf0;
}

.cart .plant-image {
  height: 160px;
}

.cart .plant-details {
  justify-content: center;
}

.checkout-section {
  color: #fff;
  padding: 32px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.success-message {
  width: 400px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 24px;
  background-color: #cf0;
}

form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
}

button:hover {
  background: #df2e6c;
}

button:active,
input[type="button"]:active,
input:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button,
input[type="button"],
input {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

hr {
  margin-top: 30px;
}

h2 {
  color: white;
  font-weight: 200;
}

button {
  display: block;
  margin-top: 16px;
  border: 1px solid #333;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

pre {
  color: white;
  white-space: pre;
}

.steps {
  color: white;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps a {
  color: #0e101c;
  text-decoration: none;
  font-size: 14px;
  line-height: 2;
}

.steps li {
  background: #cf0;
  padding: 3px 15px;
  margin-right: 15px;
  position: relative;
}

.steps li:last-child {
  border: none;
}

.active {
  color: #0e101c;
  border-bottom: 2px solid !important;
}














/*


:root {
  --foreground-color: rgb(41, 5, 5);
}

body {


  font-family: sans-serif;
   background-color: #81d4fa; 
  font-weight: bold;
  overflow: hidden;
  
  background: linear-gradient(322deg, #170422, rgba(186, 74, 255, 0) 70%), linear-gradient(178deg, #100049, rgba(0, 138, 255, 0) 70%), linear-gradient(24deg, #25119921, rgba(33, 136, 114, 0) 35%);
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  font-weight: 100;
}




.container {
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #cf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background-color: #ec5990;
  color: #fff;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 0.6rem;
  text-align: center;
}

.plant-list {

  padding-top: 32px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
    
          
}




::-webkit-plant-list{
  width: 25px;
}


::-webkit-plant-list-track{
  background:#170422;
}



.plant-card {
  
  display: flex;
  width: 50%;
  padding: 32px 0;
}

.plant-image {
  height: 106px;
}

.plant-details {
  
  padding: 0 32px 0 16px;
  color: #fff;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.plant-name {
  margin-top: 0;
  margin-bottom: 6px;
}

.plant-scientific-name {
  font-style: italic;
}

.plant-bottom-row {
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.plant-bottom-row > p {
  margin-right: 32px;
}

.plant-button {
  justify-self: flex-end;
}

p {
  margin: 0;
}

.cart {
  width: 800px;
  margin: 0 auto;
}

.cart > .plant-card {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #cf0;
}

.cart .plant-image {
  height: 160px;
}

.cart .plant-details {
  justify-content: center;
}

.checkout-section {
  color: #fff;
  padding: 32px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.success-message {
  width: 400px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 24px;
  background-color: #199100;
}

form {
  background: #81d4fa;
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button {
  background: linear-gradient(322deg, #ba4aff, rgba(186, 74, 255, 0) 70%), linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%), linear-gradient(24deg, #00ffc6, rgba(0, 255, 198, 0) 35%);
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
}

/* button:hover {
    background: #df2e6c;
  } */
button:active,
input[type="button"]:active,
input:active {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

button,
input[type="button"],
input {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

hr {
  margin-top: 30px;
}

h2 {
  color: white;
  font-weight: 200;
}

button {
  display: block;
  margin-top: 16px;
  border: 1px solid #333;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

pre {
  color: white;
  white-space: pre;
}

.steps {
  color: white;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps li {
  background: #0044ff;
  padding: 3px 15px;
  margin-right: 15px;
  position: relative;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.steps li:last-child {
  border: none;
}

.active {
  color: #0e101c;
  border-bottom: 2px solid !important;
}

.h-100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  height: 35vh;
  width: 45vh;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
}

.images {
  height: 20px;
  width: 20x;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
}

.card-container {
  width: 100px;
  height: 250px;
  overflow: hidden;
  background: rgba(255, 255,255, 0.5);
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  font-weight: 100;
 backdrop-filter: blur(1px);
  -webkit-box-shadow: 0px 0px 15px -5px;
          box-shadow: 0px 0px 15px -5px;
  -webkit-transition: 0.3%;
  transition: 0.3%;
  -webkit-animation: ease-in-out;
          animation: ease-in-out;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  animation: ease-in-out;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px 0px #000000;
  box-shadow: 2px 2px 3px 0px #000000;

display: flex;
justify-content: row;



}

.card-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 15px 0px;
          box-shadow: 0px 0px 15px 0px;
}

.image-container {
  overflow: hidden;
  height: 200px;
  width: 300px;
}

.font-weight-bold {
  font-size: large;
}

/* Contract Forms*/
.container-form {
  margin-top: 60px;
  color: #81d4fa;
}
/*# sourceMappingURL=app.css.map */

